<div class="panel panel-default sidebar-menu">

<div class="_bufums533f7"></div>
<script type="text/javascript">
    (window.slotbydup = window.slotbydup || []).push({
        id: "u6691916",
        container: "_bufums533f7",
        async: true
    });
</script>
<!-- 多条广告如下脚本只需引入一次 -->
<script type="text/javascript" src="//cpro.baidustatic.com/cpro/ui/cm.js" async="async" defer="defer" >
</script>
</div>

<div class="panel panel-default sidebar-menu">
    {{ $related := .Site.RegularPages.Related . | first 5 }} {{ with $related }}
    <div class="panel-heading">
     <h3 class="panel-title">相关文章</h3>
    </div>
    <div class="panel-body">
     <ul class="nav nav-pills nav-stacked">
        {{ range . }}
        <li><a href="{{ .RelPermalink }}"><i class="fa fa-link"></i>{{ .Title }}</a></li>
         {{ end }}
     </ul>
    </div>
     {{ end }}
</div>
